In [1]:
dir(object)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [2]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [3]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [4]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
a = 10

In [6]:
type(a)

int

In [7]:
a = 10.5

In [8]:
type(a)

float

In [9]:
a = '10.5'

In [10]:
type(a)

str

In [11]:
def foo(my_var: str) -> None:
    print(my_var, type(my_var))

In [12]:
foo(a)

10.5 <class 'str'>

In [13]:
foo('AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA <class 'str'>

In [14]:
foo(10.6)

10.6 <class 'float'>

In [15]:
assert isinstance(a, str)

In [16]:
f'str go b{"r"*100}'

'str go brrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr'

In [17]:
ф

NameError: name 'ф' is not defined

In [18]:
a

'10.5'

In [19]:
b = int(a)

ValueError: invalid literal for int() with base 10: '10.5'

In [20]:
b = float(a)

In [21]:
b

10.5

In [22]:
float('5000.655363')

5000.655363

In [23]:
d = 'Yarullin'

In [24]:
print(f'Hello, {d}')

Hello, Yarullin

In [25]:
lst = list()

In [26]:
dct = dict()

In [27]:
st = set()

In [28]:
tpl = tuple()

In [29]:
my_lst = [i**2 for i in range(100)]

In [30]:
my_lst

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [31]:
sorted(my_lst, key=str)

[0,
 1,
 100,
 1024,
 1089,
 1156,
 121,
 1225,
 1296,
 1369,
 144,
 1444,
 1521,
 16,
 1600,
 1681,
 169,
 1764,
 1849,
 1936,
 196,
 2025,
 2116,
 2209,
 225,
 2304,
 2401,
 25,
 2500,
 256,
 2601,
 2704,
 2809,
 289,
 2916,
 3025,
 3136,
 324,
 3249,
 3364,
 3481,
 36,
 3600,
 361,
 3721,
 3844,
 3969,
 4,
 400,
 4096,
 4225,
 4356,
 441,
 4489,
 4624,
 4761,
 484,
 49,
 4900,
 5041,
 5184,
 529,
 5329,
 5476,
 5625,
 576,
 5776,
 5929,
 6084,
 6241,
 625,
 64,
 6400,
 6561,
 6724,
 676,
 6889,
 7056,
 7225,
 729,
 7396,
 7569,
 7744,
 784,
 7921,
 81,
 8100,
 8281,
 841,
 8464,
 8649,
 8836,
 9,
 900,
 9025,
 9216,
 9409,
 9604,
 961,
 9801]

In [32]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
my_lst.append(
    ['888888']
)

In [34]:
my_lst[-1]

['888888']

In [35]:
my_lst[-2:3]

[]

In [36]:
my_lst

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 ['888888']]

In [37]:
my_lst[-2:-10]

[]

In [38]:
my_lst[2:10]

[4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
my_lst[-10:-2]

[8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604]

In [40]:
my_lst[-2:-10:-1]

[9801, 9604, 9409, 9216, 9025, 8836, 8649, 8464]

In [41]:
my_lst[::-1]

[['888888'],
 9801,
 9604,
 9409,
 9216,
 9025,
 8836,
 8649,
 8464,
 8281,
 8100,
 7921,
 7744,
 7569,
 7396,
 7225,
 7056,
 6889,
 6724,
 6561,
 6400,
 6241,
 6084,
 5929,
 5776,
 5625,
 5476,
 5329,
 5184,
 5041,
 4900,
 4761,
 4624,
 4489,
 4356,
 4225,
 4096,
 3969,
 3844,
 3721,
 3600,
 3481,
 3364,
 3249,
 3136,
 3025,
 2916,
 2809,
 2704,
 2601,
 2500,
 2401,
 2304,
 2209,
 2116,
 2025,
 1936,
 1849,
 1764,
 1681,
 1600,
 1521,
 1444,
 1369,
 1296,
 1225,
 1156,
 1089,
 1024,
 961,
 900,
 841,
 784,
 729,
 676,
 625,
 576,
 529,
 484,
 441,
 400,
 361,
 324,
 289,
 256,
 225,
 196,
 169,
 144,
 121,
 100,
 81,
 64,
 49,
 36,
 25,
 16,
 9,
 4,
 1,
 0]

In [42]:
my_lst.remove(-1)

ValueError: list.remove(x): x not in list

In [43]:
my_lst.remove(0)

In [44]:
my_tpl = (0, 5, 6, 7, 9)

In [45]:
my_tpl.remove(0)

AttributeError: 'tuple' object has no attribute 'remove'

In [46]:
my_tpl[0] = 555

TypeError: 'tuple' object does not support item assignment

In [47]:
my_set = set(my_tpl)

In [48]:
my_set

{0, 5, 6, 7, 9}

In [49]:
my_dict = {
    'day': 11,
    'month': 9,
    'year': 2023
}

In [50]:
my_dict['year']

2023

In [51]:
my_dict.get('week', -1)

-1

In [52]:
my_dict['week']

KeyError: 'week'

In [53]:
%%markdown
# План на первый блок (лаб. работа 1)
1. Установить интепретатор Python версии 3.11 (или 3.10 — не рекомендуется. но можно)
2. Изучить установку внешних пакетов через `pip` (https://pypi.org)
3. Установить Jupyter Notebook [если используете VS Code, то он нужен для работы интерактивной оболочки]
4. Изучить основные типы данных, операнды, структуры данных (списки, словари, кортежи. множества)
5. Описать структуру Московского зоопарка при помощи встроенных типов и структур данных.
6. Написать код, который возвращает соседей манула Тимофея (т.е. просто соседние с манулами вольеры)

# План на первый блок (лаб. работа 1)
1. Установить интепретатор Python версии 3.11 (или 3.10 — не рекомендуется. но можно)
2. Изучить установку внешних пакетов через `pip` (https://pypi.org)
3. Установить Jupyter Notebook [если используете VS Code, то он нужен для работы интерактивной оболочки]
4. Изучить основные типы данных, операнды, структуры данных (списки, словари, кортежи. множества)
5. Описать структуру Московского зоопарка при помощи встроенных типов и структур данных.
6. Написать код, который возвращает соседей манула Тимофея (т.е. просто соседние с манулами вольеры)